{{ define "main" }}
<h1>Virtual Engine Lab with Deep Learning</h1>
<div class="sketchfab-embed-wrapper">
  <p>Simulate the Internal Combustion Engine(ICE) with Deep Learning.</p>
  <iframe title="A 3D model" width="800" height="500" src="https://sketchfab.com/models/eea9d9252ab14298b50699a471dc2cee/embed?autostart=0&amp;ui_controls=1&amp;ui_infos=1&amp;ui_inspector=1&amp;ui_stop=1&amp;ui_watermark=1&amp;ui_watermark_link=1" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
      <a href="https://sketchfab.com/3d-models/engine-eea9d9252ab14298b50699a471dc2cee?utm_medium=embed&amp;utm_source=website&amp;utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Engine</a>
      by <a href="https://sketchfab.com/ezzdesign5?utm_medium=embed&amp;utm_source=website&amp;utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Ahmed Belal</a>
      on <a href="https://sketchfab.com?utm_medium=embed&amp;utm_source=website&amp;utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
  </p>
</div>
{{ end }}
